---
interface Props {
    version: string;
    icon: string;
    title: string;
    description: string;
    tags: string[];
    href: string;
}

const { version, icon, title, description, tags, href } = Astro.props;
---

<div class="project-card" onclick={`window.location.href='${href}'`}>
    <div class="project-card-header">
        <span class="material-symbols-outlined text-accent-secondary"
            style="font-variation-settings: 'FILL' 1;">{icon}</span>
        <span class="text-secondary" style="font-family: monospace; font-size: 0.7rem;">{version}</span>
    </div>
    <h3 class="project-card-title">{title}</h3>
    <p class="project-card-desc">{description}</p>
    <div class="project-tags">
        {tags.map((tag) => (
            <span class="project-tag">{tag}</span>
        ))}
    </div>
</div>

<style>
.project-card {
    background-color: var(--surface-low);
    padding: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
}

.project-card:hover {
    background-color: var(--surface);
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.project-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
}

.project-card-desc {
    color: var(--text-secondary);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.project-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.project-tag {
    font-size: 0.7rem;
    padding: 0.25rem 0.75rem;
    background-color: var(--surface-high);
    color: var(--text-secondary);
    text-transform: uppercase;
}
</style>
